// Custom styles.
.site-brand-wrapper1 {
  padding-top: 20;
  background-color: #00a7e0
}
.site-meta1 {
  padding: 20px 0;
  color: #fff;
  background-image: url(/images/sunshine.jpg);
  background-size: contain;
}
