.site-brand-wrapper {
  position: relative;
  //background-color: #00a7e0
}

.site-meta {
  padding: 20px 0;
  color: white;
  background-image: url(/images/sunshine.jpg);
  background-size: cover;
  //background: $black-deep;


  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}
//左侧顶部 title
.brand {
  padding: 0;
  color: #015618;

  &:hover { color: #015618; }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}

.site-search form { display: none; }
