<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        path: window.location.pathname,
        placeholder: "灯火阑珊，只为遇见你！ ...~留下喵爪印喲~",
        pageSize: 10 ,
      })
  }
</script>
<% } %>